body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

body > div {
    display: flex;
    justify-content: center;
   
}
body > div > section {
    width: 80%;
      
} 

body > div > section > ul {
    margin-bottom: 40px;
}

.rock {
    color: limegreen;
}

button {
    float: center;
    width: 180px;
    height: 100px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 26px;
    padding: 10px;
    border-style: ridge;
    border-width: 7px;
}

#play-again {
    background-color: lightgreen;
    border-color: green;
}

#play-again:hover {
    background-color: green;
}

#finish-game {
    background-color: orangered;
    border-color: maroon;
}

#finish-game:hover {
    background-color: maroon;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#mode-1P {
    color: white;
    background-color: pink;
    border-color: magenta
}

#mode-1P:hover {
    background-color: magenta;
}

#mode-2P {
    color: white;
    background-color: cyan;
    border-color: royalblue;
}

#mode-2P:hover {
    background-color: royalblue;
}

#submit-choices {
    color: white;
    background-color: mediumorchid;
    border-color: purple;
}

#submit-choices:hover {
    background-color: purple;
}

.paper {
    color: yellow;
}

.scissors {
    color: magenta
}

h1, h2, h3 {
    text-align: center
}

li {
    padding: 10px;
}

form > ul {
    list-style: none;
}

.player-1, .player-2 {
    background-color: black;
    padding: 6px;
}
.player-1 {
    color: red;
}

.player-2 {
    color: blue;    
}

.player-form {
    height: 30px;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border: 1px solid slategray;
    width: 130px; 
}

#name-form {
    text-transform: uppercase; 
}

#game-container {
    display: flex;
    justify-content: center;
}

#game-play {
    height: 500px;
    width: 80%;
    display: flex;
    float: center;
    justify-content: space-between;
    align-content: space-between;
    background-color: slategrey;
}

#choice-1 {
    align-self: flex-start;
}

#choice-2 {
    align-self: flex-end;
}

#Go {
    align-self: center;
} 

