<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Rock, Paper, Scissors: {{title}}</title>
    <!-- <base href="localhost:5000"> -->
</head>
<body>
    <h2><span class="rock">Rock </span><span class="paper">Paper </span><span class="scissors">Scissors</span></h2>
    <br>
    {% block content %} 
    {% endblock %} 

</body>
</html>