{% extends "base.html" %}

{% block content %}

    <p></p>

    <section>
        <h1>GAME OVER</h1>
        {% if champion != None %}
        <h3><span>{{champion.name}}</span> is the champion!</section></h3>
        {% endif %}

        {% if champion == None %} 
        <h3>The tournament has ended in a draw.</h3>
        {% endif %} 

    </section>
    <div class="button-container">
        <a href="/"><button class='button' id='play-again'>Start Over</button></a>
        
    </div>
{% endblock %}