{% extends "base.html" %}

{% block content %}


    <h3>
        Player 1: {{current_round.player_1.score}}
    </h3>   
    <h3>
        Player 2: {{current_round.player_2.score}}
    </h3>
    <section id="game-container">
        <form action="/route" id="game-play" method="post">
            <div id="choice-1">
                <label for="choice-1" class=player-1>{{current_round.player_1.name}}</label><br>
                <select class="player-form" name="choice_1">
                    <option value="rock">rock</option>
                    <option value="paper">paper</option>
                    <option value="scissors">scissors</option>
                </select>
            </div>

            <div id="Go">
                <button type="submit" class="submit" id="submit-choices">GO!</button>
            </div>
            
            <div id="choice-2">
                <label for="choice-2" class=player-2>{{current_round.player_2.name}}</label><br>
                {% if current_round.mode == "2P" %}
                <select class="player-form" name="choice_2">
                    <option value="rock">rock</option>
                    <option value="paper">paper</option>
                    <option value="scissors">scissors</option>
                </select>
                {% endif %}
            </div>

        </form>
    </section>


{% endblock %}