{% extends "base.html" %}

{% block content %}


    <h3>
        Welcome, <span class="player-1">{{current_round.player_1.name}}</span> and <span class="player-2">{{current_round.player_2.name}}</span>!
    </h3>   
    <h3>
        Make your choices below:
    </h3>
    <section>
        <form action="/route" id="game-play" method="post">
            <div id="choice-1">
                <label for="choice-1" class=player-1>{{current_round.player_1.name}}</label><br>
                <select class="player-form" name="choice_1">
                    <option value="rock">rock</option>
                    <option value="paper">paper</option>
                    <option value="scissors">scissors</option>
                </select>
            </div>

            <div id="Go">
                <input type="submit" id="submit-choices" value="GO!">
            </div>
            
            <div id="choice-2">
                <label for="choice-2" class=player-2>{{current_round.player_2.name}}</label><br>
                <select class="player-form" name="choice_2">
                    <option value="rock">rock</option>
                    <option value="paper">paper</option>
                    <option value="scissors">scissors</option>
                </select>
            </div>

        </form>
    </section>

{% endblock %}